<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: pageHead('Shopccer')"></head>
<body>
<div class="sticky-top">
	<div th:replace="navigation :: header_menu"></div>
</div>
	<div class="container">
		<div class="text-center border-bottom m-3">
			<h2>¿Quiénes somos?</h2>
		</div>
		&nbsp;
		<div>
			<p>En Shopccer, nos apasiona el fútbol y queremos brindarte las mejores botas para que puedas destacarte en el campo. Nuestro objetivo es ofrecerte una amplia selección de botas de fútbol de alta calidad, de las mejores marcas y al mejor precio.</p>
			<p>Trabajamos directamente con los fabricantes para garantizar que nuestros productos sean auténticos y duraderos. Nuestro equipo de expertos en fútbol está siempre disponible para ayudarte a encontrar la bota perfecta que se adapte a tu estilo de juego y necesidades.</p>
			<p>¡Únete a la comunidad de Shopccer y descubre la pasión por el fútbol!</p>
		</div>
	</div>
	</div>
	<div th:replace="navigation :: footer_menu"></div>
	<div th:replace="fragments :: footer"></div>
</body>
</html>