<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="pageHead(title)">
	<meta http-equiv="Content-Type" content="txt/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>[[${title}]] - [[${SITE_NAME}]]</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
    <!-- Plantilla para escribir codigo reusable por thymeleaf en nuestras vistas -->

    <div th:fragment="footer" class="text-center">
        <p>[[${COPYRIGHT}]]</p>
    </div>

	<a th:fragment="pageLink(viewName,numPag, label)" class="page-link"
	   th:href="@{'/'+${viewName}+'/pagina/'+${numPag}+'?campoOrden='+${campoOrden}+'&dirOrden='+${dirOrden} + ${palabraClave !=null ? '&palabraClave='+palabraClave : ''}}">[[${label}]]</a>


	<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Atención</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<span id="modalBody"></span>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</body>

</html>