<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: pageHead('Shopccer')"></head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">

<style>
	.div-shopccer {
		position: relative;
		display: inline-block;
		border-radius: 10px;
		background: linear-gradient(45deg, rgba(23, 162, 184, 0.36), rgba(253, 53, 207, 0.36));
		padding: 10px;
		width: 90%;
	}

	.div-shopccer h4,h2 {
		font-family: "Montserrat", Arial, sans-serif;
		font-weight: bold;
		color: black;
	}
	a:hover {
		text-decoration: none;
	}
</style>
<body>
<div class="sticky-top">
	<div th:replace="navigation :: header_menu"></div>
</div>
<!--	<div th:replace="navigation :: search_nav"></div>-->
	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img style="width: 100%;" src="images/shopccer_.gif" class="img-fluid" alt="GIF">
			</div>
		</div>
	</div>
	<div class="container">

		<div class="full-details">
			&nbsp;
			<div class="text-center border-bottom m-3 div-shopccer" style="width: 100%;">
				<h2>Colecciones de botas por marca</h2>
			</div>

			<div class="row text-center">
				<th:block th:each="marca : ${listMarcas}">
					<div class="col-md-4" th:if="${marca.activo == true}">
						<a th:href="@{'/productos/marcas/' + ${marca.idMarca}}">
							<img th:src="@{${marca.pathFoto}}" height="100" alt="">
							<br><br>
						</a>
					</div>
				</th:block>
			</div>

			<div class="text-center border-bottom m-3 div-shopccer" style="width: 100%;">
				<h2>Colecciones de botas por superficie</h2>
			</div>

			<div class="row text-center">
				<th:block th:each="superficie : ${listSuperficies}">
					<div class="col-md-4" th:if="${superficie.activo == true}">
						<a th:href="@{'/productos/superficies/' + ${superficie.idSuperficie}}">
							<img th:src="@{${superficie.pathFoto}}" height="100" alt="">
							<br><br>
							<b class="text-uppercase" style="text-decoration: none; color: black;">[[${superficie.nombre}]]</b>
						</a>
						<br><br>
					</div>
				</th:block>
			</div>

		</div>


		<div class="less-details">
			&nbsp;
			<div class="text-center" style="font-size: larger; font-family: 'Montserrat', Arial, sans-serif;">
				<p>Explora nuestras botas de fútbol:</p>
			</div>

			<div class="text-center border m-3 div-shopccer">
				<h4 data-toggle="collapse" data-target="#collapseMarcas">Por marca</h4>
			</div>

			<div class="collapse" id="collapseMarcas">
				<div class="row text-center">
					<th:block th:each="marca : ${listMarcas}">
						<div class="col-md-4" th:if="${marca.activo == true}">
							<a th:href="@{'/productos/marcas/' + ${marca.idMarca}}">
								<img th:src="@{${marca.pathFoto}}" height="80" alt="">
								<br><br>
							</a>
						</div>
						<br>
					</th:block>
				</div>
			</div>


			<div class="text-center border m-3 div-shopccer">
				<h4 data-toggle="collapse" data-target="#collapseSuperficies">Por superficie de juego</h4>
			</div>

			<div class="collapse" id="collapseSuperficies">
				<div class="row text-center">
					<th:block th:each="superficie : ${listSuperficies}">
						<div class="col-md-4" th:if="${superficie.activo == true}">
							<a th:href="@{'/productos/superficies/' + ${superficie.idSuperficie}}">
								<img th:src="@{${superficie.pathFoto}}" height="80" alt="">
								<br><br>
								<b class="text-uppercase" style="text-decoration: none; color: black;">[[${superficie.nombre}]]</b>
							</a>
						</div>
						&nbsp;
					</th:block>
				</div>
			</div>
		</div>

	</div>
	<div th:replace="navigation :: footer_menu"></div>
	<div th:replace="fragments :: footer"></div>
</body>
</html>