<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: pageHead('Shopccer')"></head>
<body>
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>
	<div class="container">

		<div class="text-center border-bottom m-3">
			<h2>Colecciones de botas por marca</h2>
		</div>

		<div class="row text-center">
			<th:block th:each="marca : ${listMarcas}">
				<div class="col" th:if="${marca.activo == true}">
					<a th:href="@{'/productos/marcas/' + ${marca.idMarca}}">
						<img th:src="@{${marca.pathFoto}}" height="100" alt="">
						<br><br>
						<b class="text-uppercase">[[${marca.nombre}]]</b>
					</a>
				</div>
			</th:block>
		</div>

		<div class="text-center border-bottom m-3">
			<h2>Colecciones de botas por superficie</h2>
		</div>

		<div class="row text-center">
			<th:block th:each="superficie : ${listSuperficies}">
				<div class="col" th:if="${superficie.activo == true}">
					<a th:href="@{'/productos/superficies/' + ${superficie.idSuperficie}}">
						<img th:src="@{${superficie.pathFoto}}" height="100" alt="">
						<br><br>
						<b class="text-uppercase">[[${superficie.nombre}]]</b>
					</a>
				</div>
			</th:block>
		</div>

	</div>
	<div th:replace="navigation :: footer_menu"></div>
	<div th:replace="fragments :: footer"></div>
</body>
</html>