<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: pageHead(${tituloPagina})"></head>
<body>
<div class="sticky-top">
	<div th:replace="navigation :: header_menu"></div>
</div>
	<div class="container">

		<div class="text-center border-bottom m-3">
			<h2>Registro de nuevo cliente.</h2>
		</div>
		<div class="text-center m-3">
			<h4>Te has registrado con éxito como cliente.</h4>
			<p>Por favor revisa tu email para verificar tu cuenta.</p>
			<p><a th:href="@{/login}">Login</a></p>
		</div>

	</div>
	<div th:replace="navigation :: footer_menu"></div>
	<div th:replace="fragments :: footer"></div>
</body>
</html>