<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- Plantilla para escribir codigo reusable por thymeleaf en nuestras vistas -->
    <th th:fragment="columnLink(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
        <a th:href="@{'/usuarios/pagina/' + ${paginaActual} + '?campoOrden=' + ${fieldName} +'&dirOrden='+${campoOrden != fieldName ? dirOrden : dirOrdenContrario} + ${palabraClave !=null ? '&palabraClave='+palabraClave : ''}}"
            class="text-white" style="text-decoration: none">[[${columnLabel}]]</a>
        <span th:if="${campoOrden == fieldName}" th:class="${dirOrden == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
    </th>

    <a th:fragment="pageLink(numPag, label)" class="page-link"
        th:href="@{'/usuarios/pagina/'+${numPag}+'?campoOrden='+${campoOrden}+'&dirOrden='+${dirOrden} + ${palabraClave !=null ? '&palabraClave='+palabraClave : ''}}">[[${label}]]</a>

</body>

</html>