<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="pageHead(title)">
	<meta http-equiv="Content-Type" content="txt/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>[[${title}]]</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
    <!-- Plantilla para escribir codigo reusable por thymeleaf en nuestras vistas -->
    <th th:fragment="columnLink(viewName,fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
        <a th:href="@{'/'+${viewName}+'/pagina/' + ${paginaActual} + '?campoOrden=' + ${fieldName} +'&dirOrden='+${campoOrden != fieldName ? dirOrden : dirOrdenContrario} + ${palabraClave !=null ? '&palabraClave='+palabraClave : ''}}"
            class="text-white" style="text-decoration: none">[[${columnLabel}]]</a>
        <span th:if="${campoOrden == fieldName}" th:class="${dirOrden == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
    </th>

    <a th:fragment="pageLink(viewName,numPag, label)" class="page-link"
        th:href="@{'/'+${viewName}+'/pagina/'+${numPag}+'?campoOrden='+${campoOrden}+'&dirOrden='+${dirOrden} + ${palabraClave !=null ? '&palabraClave='+palabraClave : ''}}">[[${label}]]</a>

    <div th:fragment="footer" class="text-center">
        <p>Shopccer Control Panel Copyright &copy; Shopccer</p>
    </div>


</body>

</html>