<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="txt/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Home - Shopccer Admin</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
	<div class="container-fluid">
		<div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}" href=""><img th:src="@{/images/shopccer_logo_small.png}"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="topNavBar">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" th:href="@{/usuarios}">USUARIOS</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/superficies}">SUPERFICIES</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/marcas}">MARCAS</a> </li>
						<li class="nav-item"><a class="nav-link" th:href="@{/productos}">PRODUCTOS</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/clientes}">CLIENTES</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/envios}">ENVÍOS</a> </li>
						<li class="nav-item"><a class="nav-link" th:href="@{/pedidos}">PEDIDOS</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/informe}">INFORME DE VENTAS</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/menus}">MENÚS</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/config}">CONFIGURACIÓN</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div>
			<h1>Shopccer Control Panel</h1>
		</div>

		<div>
			<p>Shopccer Control Panel Copyright &copy; Shopccer</p>
		</div>
	</div>
</body>

</html>