<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: pageHead('Marcas- Shopccer Admin')"></head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Gestión de marcas</h2>
		</div>

		<div th:if="${msg != null}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
			[[${msg}]]
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="row justify-content-between">
			<div class="col-lg-5 col-md-12 mt-1 mb-1">
				<a class="fas fa-circle-plus fa-2x icon-shopccer" th:href="@{/marcas/nuevo}" style="text-decoration: none" title="Crear nueva marca"></a>
			</div>
			<div class="col-lg-7 col-md-12 d-lg-flex ">
				<form th:action="@{/marcas/pagina/1}" class="form-inline mt-1 mb-1 ml-auto">
					<input type="hidden" name="campoOrden" th:value="${campoOrden}">
					<input type="hidden" name="dirOrden" th:value="${dirOrden}">
					<input type="search" name="palabraClave" placeholder="Busca por id, nombre" th:value="${palabraClave}" class="form-control" size="40%" required/>
					&nbsp;&nbsp;
					<button type="submit" class="btn btn-info mt-2 mt-sm-0"><i class="fas fa-search"></i></button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-secondary mt-2 mt-sm-0" onclick="limpiarFiltro()"/><i class="fas fa-eraser"></i></button>
				</form>
			</div>
		</div>

		<div class="full-details">
			<table class="table table-bordered table-hover table-responsive-md">
				<thead class="thead-dark">
					<tr>
						<th th:replace="fragments :: columnLink ('marcas', 'idMarca', 'ID Marca','none')" ></th>
						<th>Foto</th>
						<th th:replace="fragments :: columnLink ('marcas','nombre', 'Nombre Marca','none')"></th>
						<th th:replace="fragments :: columnLink ('marcas','activo', 'Activo','none')"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="marca : ${listaMarcas}">
						<td>[[${marca.idMarca}]]</td>
						<td><img th:src="@{${marca.pathFoto}}" alt="" style="width:100px;" class="img-fluid"></td>
						<td>[[${marca.nombre}]]</td>
						<td><a th:if="${marca.activo} == true" class="fa-solid fa-square-check fa-2x icon-green" style="text-decoration: none" th:href="@{'/marcas/' + ${marca.idMarca} + '/activo/false'}" title="Desactiva marca"></a>
							<a th:if="${marca.activo} != true" class="fa-solid fa-square fa-2x icon-silver" style="text-decoration: none" th:href="@{'/marcas/' + ${marca.idMarca} + '/activo/true'}" title="Activa marca"></a>
						</td>
						<td><a class="fa-solid fa-edit fa-2x icon-green" style="text-decoration: none" th:href="@{'/marcas/edit/'+${marca.idMarca}}" title="Editar marca"></a> &nbsp;
							<a class="fa-solid fa-trash fa-2x icon-dark link-delete" style="text-decoration: none" th:href="@{'/marcas/delete/'+${marca.idMarca}}" th:marcaId="${marca.idMarca}" title="Eliminar marca"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="less-details">
			<div class="row m-1" th:each="marca : ${listaMarcas}">
				<div class="col-4">
					<i th:if="${marca.foto} == null" class="fa-solid fa-image-portrait fa-3x icon-silver"></i> <img th:if="${marca.foto} != null" th:src="@{${marca.pathFoto}}"
						alt="" style="width: 100px;">
				</div>
				<div class="col-8">
					<div>[[${marca.nombre}]]</div>
					<div class="mt-2">
						<a th:if="${marca.activo} == true" class="fa-solid fa-square-check fa-2x icon-green" style="text-decoration: none" th:href="@{'/marcas/' + ${marca.idMarca} + '/activo/false'}" title="Desactiva marca"></a>
						<a th:if="${marca.activo} != true" class="fa-solid fa-square fa-2x icon-silver" style="text-decoration: none" th:href="@{'/marcas/' + ${marca.idMarca} + '/activo/true'}" title="Activa marca"></a>
						&nbsp;&nbsp;
						<a class="fa-solid fa-edit fa-2x icon-green" style="text-decoration: none" th:href="@{'/marcas/edit/'+${marca.idMarca}}" title="Editar marca"></a> &nbsp;
						<a class="fa-solid fa-trash fa-2x icon-dark link-delete" style="text-decoration: none" th:href="@{'/marcas/delete/'+${marca.idMarca}}" th:userId="${marca.idMarca}" title="Eliminar marca"></a>
					</div>
				</div>
				<div>&nbsp;</div>
			</div>
		</div>	<div class= "text-center m-1" th:if="${marcasTotales > 0}">
			<span>Mostrando las marcas de la [[${startCount}]] a la [[${endCount}]] de [[${marcasTotales}]] </span>
		</div>
		<div class="text-center m-1" th:unless="${marcasTotales > 0}">
			<span>No se encontraron marcas </span>
		</div>

		<div th:if="${paginasTotales > 1}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li th:class="${paginaActual > 1 ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('marcas', 1,'<<')"> </a></li>
					<li th:class="${paginaActual > 1 ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('marcas', ${paginaActual -1},'<')"> </a></li>
					<li th:class="${paginaActual != i  ? 'page-item':'page-item active'}" th:each="i : ${#numbers.sequence(1,paginasTotales)}"><a th:replace="fragments :: pageLink('marcas', ${i},${i})"> </a></li>
					<li th:class="${paginaActual < paginasTotales ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('marcas', ${paginaActual +1},'>')"> </a></li>
					<li th:class="${paginaActual < paginasTotales ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('marcas', ${paginasTotales},'>>')"> </a></li>
				</ul>
			</nav>
		</div>

		<div th:replace="modal_fragments :: modal_delete"></div>

	</div>


	<div th:replace="fragments :: footer"></div>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".link-delete").on("click",function(e) {
				e.preventDefault();
				marcaId = $(this).attr("marcaId");
				$("#btnSi").attr("href", $(this).attr("href"));
				$("#confirmText").text("¿Seguro que desea eliminar la marca con id: "+ marcaId + " ?");
				$("#confirmDelete").modal();
			})
		});

		function limpiarFiltro(){
			window.location ="[[@{/marcas}]]";
		}
	</script>
</body>

</html>