<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="txt/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Ajustes fragment</title>
</head>

<body>
<!--Generales-->
  <div th:fragment="general" th:remove="tag">
    <form th:action="@{/ajustes/save_general}" method="post" enctype="multipart/form-data">
      <div class="form-group row">
        <div class="col-sm-12">
          <label class="form-label" >Nombre sitio:</label>
          <input type="text" class="form-control" name="SITE_NAME" th:value="${SITE_NAME}" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <label class="form-label" >Copyright:</label>
          <input type="text" class="form-control" name="COPYRIGHT" th:value="${COPYRIGHT}" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <label class="form-label">Logo de la página:</label>
          <img id="thumbnail" width="250" height="100" alt="Vista previa foto" th:src="@{${SITE_LOGO}}">
          <input type="file" id="fileImg" name="logoImg" accept="image/png, image/jpeg">
        </div>
      </div>
      <div class="text-center m-3">
        <input type="submit" value="Guardar" class="btn btn-primary" id="btnSubmit" />
      </div>
    </form>
  </div>
<!--Generales-->
<!--Paises-->
  <div th:fragment="pais" th:remove="tag">
    <div>
      <p>Gestiona los países, que serán mostrados a los clientes a la hora de registrarse. Recarga la lista antes de
      comenzar.</p>
    </div>
    <div>
      <input type="button" value="Recarga países" class="btn btn-primary" id="botonCargaPaises">
    </div>
    <div>
      <select class="form-control m-2" style="height: 300px" size="3" id="desplegablePais">
      </select>
    </div>
    <div class="form-group row ml-2">
      <label class="col-form-label mt-2">Nombre País:</label>
      <div class="col-md">
        <input type="text" class="form-control mt-2" name="" id="campoNombrePais">
      </div>
      <label class="col-form-label mt-2">Código País:</label>
      <div class="col-md">
        <input type="text" class="form-control mt-2" name="" id="campoCodigoPais">
      </div>
      <div class="col-lg-4 mt-2">
        <input type="button" value="Añadir" class="btn btn-secondary mr-2">
        <input type="button" value="Actualizar" class="btn btn-secondary mr-2">
        <input type="button" value="Borrar" class="btn btn-secondary mr-2">
      </div>

    </div>


  </div>
<!--Paises-->
</body>
</html>