<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>
	<!-- Plantilla para escribir codigo reusable por thymeleaf en nuestras vistas -->

	<!-- Datos generales -->
	<div th:fragment="contenido" th:remove="tag">
		<div class="form-group row">
			<div class="col-sm-12">
				<label class="form-label" for="nombreProducto">Nombre producto:</label>
				<input type="text" class="form-control" id="nombreProducto" placeholder="Introduce un nombre" th:field="*{nombre}" required minlength="3"maxlength="256">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label class="form-label" for="colorProducto">Color producto:</label>
				<input type="text" class="form-control" id="colorProducto" placeholder="Introduce un color" th:field="*{color}" required minlength="3"maxlength="256">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label class="form-label" for="marcaProducto">Marca:</label>
				<select class="form-control" id="marcaProducto" th:field="*{marca}" required>
					<th:block th:each="marca : ${listaMarcas}">
						<option th:value="${marca.idMarca}">[[${marca.nombre}]]</option>
					</th:block>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label class="form-label" for="superficieProducto">Tipo de taco:</label>
				<select class="form-control" id="superficieProducto" th:field="*{superficie}" required>
					<th:block th:each="superficie : ${listaSuperficies}">
						<option th:value="${superficie.idSuperficie}">[[${superficie.nombre}]]</option>
					</th:block>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label class="form-label">Activo:</label> <input type="checkbox" th:field="*{activo}">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label class="form-label" for="costeProducto">Coste producto:</label>
				<input type="number" class="form-control" id="costeProducto"  th:field="*{coste}">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label class="form-label" for="precioProducto">Precio producto:</label>
				<input type="number" class="form-control" id="precioProducto"  th:field="*{precio}">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label class="form-label" for="porcentajeDescuento">Descuento del producto:</label>
				<input type="number" class="form-control" id="porcentajeDescuento"  th:field="*{porcentajeDescuento}">
			</div>
		</div>
	</div>
	<!-- Datos generales -->
	<!-- Tallas y stock-->
	<div th:fragment="stock" th:remove="tag">
		<div>
			<!--<th:block th:each="entry : ${producto.tallaStock.entrySet()}" class="form-group row">
				<tr>
					<td>
						<label th:text="${entry.key}"></label>
						<input type="hidden" th:field="*{tallaStock[__${entry.key}__]}" th:value="${entry.value}" />
					</td>
					<td>
						<input type="number" th:field="*{tallaStock[__${entry.key}__]}" th:value="${entry.value}" />
					</td>
				</tr>
			</th:block>-->

			<th:block th:each="entry : ${producto.tallaStock.entrySet()}" class="form-group row">
				<label for="tallaStock[[[${entry.key}]]]">Stock talla [[${entry.key}]]:</label>
				<input type="number" id="tallaStock[[[${entry.key}]]]" name="tallaStock[[[${entry.key}]]]" th:field="*{tallaStock[__${entry.key}__]}" />
				<br>
			</th:block>
		</div>

	</div>
	<!-- Tallas y stock-->
	<!-- Descripcion-->
	<div th:fragment="descripcion" th:remove="tag">
		<div>
			<label>Descripción:</label><br>
			<textarea class="form-control" th:field="*{descripcion}" rows="5" required></textarea>
		</div>
	</div>
	<!-- Descripcion-->

</body>

</html>