<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: pageHead(${tituloPagina})"></head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Gestión de productos | [[${tituloPagina}]]</h2>
		</div>
		<form th:action="@{/productos/save}" method="post" style="max-width: 700px; margin: 0 auto;"
			  enctype="multipart/form-data" th:object="${producto}" onsubmit="return checkNombreUnique(this);" >
			<input type="hidden" th:field="*{idProducto}" id="idHidden" name="">
			<div class="border p-3">

				<div>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#general" role="tab">Datos generales</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#stock" role="tab">Tallas y stock</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#descripcion" role="tab">Descripción del producto</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#fotos" role="tab">Fotos</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active p-3" id="general" role="tabpanel">
							<div th:replace="productos/producto_general :: contenido"></div>
						</div>
						<div class="tab-pane p-3" id="stock" role="tabpanel">
							<div th:replace="productos/producto_general :: stock"></div>
						</div>
						<div class="tab-pane p-3" id="descripcion" role="tabpanel">
							<div th:replace="productos/producto_general :: descripcion"></div>
						</div>
						<div class="tab-pane p-3" id="fotos" role="tabpanel">
							<div th:replace="productos/producto_general :: fotos"></div>
						</div>
					</div>

					<div class="text-center m-3">
						<input type="submit" value="Guardar" class="btn btn-primary" id="btnSubmit" />
						<input type="button" value="Cancelar" class="btn btn-secondary" id="btnCancelar" />
					</div>

				</div>
			</div>
		</form>
	</div>

		<div th:replace="modal_fragments :: modal_dialog"></div>


		<div th:replace="fragments :: footer"></div>

		<script type="text/javascript">

			defaultImageThumbnailSrc = "[[@{/images/default-producto.png}]]";

			var extraImagesCount = 0;

			$(document).ready(function () {
				$("#btnCancelar").on("click", function () {
					window.location = "[[@{/productos}]]";
				});

				$("input[name='fotoDetalle']").each(function(index){
					$(this).change(function(){
						showExtraThumbnailImage(this, index);
					});
				});


			});

			function showExtraThumbnailImage(fileInput, index) {
				var file = fileInput.files[0];
				var reader = new FileReader();
				reader.onload = function(e) {
					$("#extraThumbnail" + index).attr("src", e.target.result);
				};
				reader.readAsDataURL(file);
				if(index >= extraImagesCount -1){
					addNextExtraImageSection(index + 1);
				}

			}

			function addNextExtraImageSection(index){
				divExtraImg = `
				<div class="row">
					<div class="col border m-3 p-2" id="divExtraImage${index}">
						<div id="extraImageHeader${index}"><label>Imagen detalle #${index + 1}:</label></div>
						<div class="m-2">
							<img id="extraThumbnail${index}" src="${defaultImageThumbnailSrc}" alt="Foto detalle #${index + 1}" class="img-fluid">
						</div>
						<div>
							<input type="file" name="fotoDetalle" accept="image/png, image/jpeg" onchange="showExtraThumbnailImage(this, ${index})">
						</div>
					</div>
				</div>
				`;

				htmlLinkRemove = `
					<a class="btn fas fa-times-circle fa-2x icon-dark float-right"
					href="javascript:removeExtraImage(${index - 1})" title="Elimina la imagen "></a>
				`;

				$("#divImagenes").append(divExtraImg);
				$("#extraImageHeader" + (index-1)).append(htmlLinkRemove);
				extraImagesCount++;
			}

			function removeExtraImage(index){
				$("#divExtraImage" + index).remove();

			}

			function checkNombreUnique(form) {

				url = "[[@{/productos/checknombre}]]";
				nombreProducto = $("#nombreProducto").val();
				productoId = $("#idHidden").val();
				csrf = $("input[name='_csrf']").val();

				data = {
					idProducto : productoId,
					nombre : nombreProducto,
					_csrf : csrf
				};

				$.post(url,data,function(response){
					if(response == 'ok'){
						form.submit();
					} else if (response == 'duplicado'){
						showModalDialog('Atención.','Ya hay un producto con el nombre: '+nombreProducto);
					} else{
						showModalDialog('Error.','Fallo en el servidor desconocido.');
					}
				}).fail(function(){
					showModalDialog('Error.','No se pudo conectasr con el servidor.');
				});

				return false;

			}
		</script>
		<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
</body>

</html>