<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: pageHead('Productos- Shopccer Admin')"></head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Gestión de productos</h2>
		</div>

		<div th:if="${msg != null}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
			[[${msg}]]
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="row justify-content-between">
			<div class="col-lg-5 col-md-12 mt-1 mb-1">
				<a class="fa-solid fa-file-circle-plus fa-2x icon-shopccer" th:href="@{/productos/nuevo}" style="text-decoration: none" title="Crear nuevo producto"></a>
			</div>
			<div class="col-lg-7 col-md-12 d-lg-flex ">
				<form th:action="@{/productos/pagina/1}" class="form-inline mt-1 mb-1 ml-auto" id="searchForm">
					<input type="hidden" name="campoOrden" th:value="${campoOrden}">
					<input type="hidden" name="dirOrden" th:value="${dirOrden}">

					Marca:&nbsp;
					<select class="form-control" name="marcaId" id="dropdownMarca">
						<option value="0">Todas las marcas</option>

						<th:block th:each="m : ${listaMarcas}">
							<option th:value="${m.idMarca}" th:selected="(${marcaId} == ${m.idMarca})">[[${m.nombre}]]</option>
						</th:block>
					</select>
					&nbsp;
					Superficie:&nbsp;
					<select class="form-control" name="superficieId" id="dropdownSuperficie">
						<option value="0">Todas las superficies</option>

						<th:block th:each="s : ${listaSuperficies}">
							<option th:value="${s.idSuperficie}" th:selected="(${superficieId} == ${s.idSuperficie})">[[${s.nombre}]]</option>
						</th:block>
					</select>
					&nbsp;
					<input type="search" name="palabraClave" placeholder="Busca por id, nombre, descripción, marca o superficie" th:value="${palabraClave}" class="form-control" size="40%" required/>
					&nbsp;&nbsp;
					<button type="submit" class="btn btn-info mt-2 mt-sm-0"><i class="fas fa-search"></i></button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-secondary mt-2 mt-sm-0" onclick="limpiarFiltro()"/><i class="fas fa-eraser"></i></button>
				</form>
			</div>
		</div>

		<div class="full-details">
			<table class="table table-bordered table-hover table-responsive-md">
				<thead class="thead-dark">
					<tr>
						<th th:replace="fragments :: columnLink ('productos', 'idProducto', 'ID Producto','none')" ></th>
						<th>Foto principal</th>
						<th th:replace="fragments :: columnLink ('productos','nombre', 'Nombre Producto','none')"></th>
						<th th:replace="fragments :: columnLink ('productos','marca', 'Marca','none')"></th>
						<th th:replace="fragments :: columnLink ('productos','superficie', 'Superficie','none')"></th>
						<th th:replace="fragments :: columnLink ('productos','activo', 'Activo','none')"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="producto : ${listaProductos}">
						<input type="hidden" name="idProducto" th:value="*{producto.idProducto}">
						<td>[[${producto.idProducto}]]</td>
						<td><img th:src="@{${producto.pathFotoPrincipal}}" alt="" style="width:100px;" class="img-fluid"></td>
						<td>[[${producto.nombre}]]</td>
						<td>[[${producto.marca.nombre}]]</td>
						<td>[[${producto.superficie.nombre}]]</td>
						<td><a th:if="${producto.activo} == true" class="fa-solid fa-square-check fa-2x icon-green" style="text-decoration: none" th:href="@{'/productos/' + ${producto.idProducto} + '/activo/false'}" title="Desactiva producto"></a>
							<a th:if="${producto.activo} != true" class="fa-solid fa-square fa-2x icon-silver" style="text-decoration: none" th:href="@{'/productos/' + ${producto.idProducto} + '/activo/true'}" title="Activa producto"></a>
						</td>
						<td>
							<!-- Button trigger modal -->
							<button type="button" class="fa-solid fa-file-lines fa-2x icon-shopccer" style="border: none; background-color: transparent" data-toggle="modal"th:data-target="'#detallesModal'+${producto.idProducto}"></button>&nbsp;
							<a class="fa-solid fa-edit fa-2x icon-green" style="text-decoration: none" th:href="@{'/productos/edit/'+${producto.idProducto}}" title="Editar producto"></a> &nbsp;
							<a class="fa-solid fa-trash fa-2x icon-dark link-delete" style="text-decoration: none" th:href="@{'/productos/delete/'+${producto.idProducto}}" th:productoId="${producto.idProducto}" title="Eliminar producto"></a>
						</td>

						<!-- Modal detalles -->
						<div class="modal fade" th:id="'detallesModal'+${producto.idProducto}" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:id="'detallesModal'+${producto.idProducto}+'Label'">Detalles del producto</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p><u>Descripción:</u><span th:text="${producto.descripcion}" class="ml-3"></span></p>
										<p><u>Color:</u><span th:text="${producto.color}" class="ml-3"></span></p>
										<p><u>Precio:</u><span th:text="${producto.precio}" class="ml-3"></span>€</p>
										<p><u>Descuento:</u><span th:text="${producto.porcentajeDescuento}" class="ml-3"></span>%</p>
										<p><u>Cantidad en almacén:</u></p>
										<th:block th:each="entry : ${producto.tallaStock.entrySet()}" class="text-center">
											<span class="ml-3">[Talla : &nbsp;<span th:text = "${entry.key}"></span>&nbsp;&nbsp;---&nbsp;&nbsp;Stock: &nbsp;<span th:text = "${entry.value}"></span>]</span><br>
										</th:block>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="less-details">

		</div>

		<div class= "text-center m-1" th:if="${productosTotales > 0}">
			<span>Mostrando los productos del [[${startCount}]] al [[${endCount}]] de [[${productosTotales}]] </span>
		</div>
		<div class="text-center m-1" th:unless="${productosTotales > 0}">
			<span>No se encontraron productos </span>
		</div>

		<div th:if="${paginasTotales > 1}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li th:class="${paginaActual > 1 ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('productos', 1,'<<')"> </a></li>
					<li th:class="${paginaActual > 1 ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('productos', ${paginaActual -1},'<')"> </a></li>
					<li th:class="${paginaActual != i  ? 'page-item':'page-item active'}" th:each="i : ${#numbers.sequence(1,paginasTotales)}"><a th:replace="fragments :: pageLink('productos', ${i},${i})"> </a></li>
					<li th:class="${paginaActual < paginasTotales ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('productos', ${paginaActual +1},'>')"> </a></li>
					<li th:class="${paginaActual < paginasTotales ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('productos', ${paginasTotales},'>>')"> </a></li>
				</ul>
			</nav>
		</div>

		<div th:replace="modal_fragments :: modal_delete"></div>

	</div>


	<div th:replace="fragments :: footer"></div>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".link-delete").on("click",function(e) {
				e.preventDefault();
				productoId = $(this).attr("productoId");
				$("#btnSi").attr("href", $(this).attr("href"));
				$("#confirmText").text("¿Seguro que desea eliminar el prodcuto con id: "+ productoId + " ?");
				$("#confirmDelete").modal();
			});

			$("#dropdownMarca").on("change",function (){
				$("#searchForm").submit();
			});

			$("#dropdownSuperficie").on("change",function (){
				$("#searchForm").submit();
			});
		});

		function limpiarFiltro(){
			window.location ="[[@{/productos}]]";
		}
	</script>
</body>

</html>