<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: pageHead('Usuarios- Shopccer Admin')"></head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Gestión de usuarios</h2>
		</div>

		<div th:if="${msg != null}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
			[[${msg}]]
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="row justify-content-between">
			<div class="col-lg-5 col-md-12 mt-1 mb-1">
				<a class="fas fa-user-plus fa-2x icon-shopccer" th:href="@{/usuarios/nuevo}" style="text-decoration: none" title="Crear nuevo usuario"></a>
			</div>
			<div class="col-lg-7 col-md-12 d-lg-flex ">
				<form th:action="@{/usuarios/pagina/1}" class="form-inline mt-1 mb-1 ml-auto">
					<input type="hidden" name="campoOrden" th:value="${campoOrden}">
					<input type="hidden" name="dirOrden" th:value="${dirOrden}">
					<input type="search" name="palabraClave" placeholder="Busca por id, email, nombre, apellido" th:value="${palabraClave}" class="form-control" size="40%" required/>
					&nbsp;&nbsp;
					<button type="submit" class="btn btn-info mt-2 mt-sm-0"><i class="fas fa-search"></i></button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-secondary mt-2 mt-sm-0" onclick="limpiarFiltro()"/><i class="fas fa-eraser"></i></button>
				</form>
			</div>
		</div>

		<div class="full-details">
			<table class="table table-bordered table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th class="hideable-column">
							<th th:replace="fragments :: columnLink ('usuarios', 'idUsuario', 'ID Usuario','tag')" ></th>
						</th>
						<th>Foto</th>
						<th th:replace="fragments :: columnLink ('usuarios','email', 'Email','none')"></th>
						<th th:replace="fragments :: columnLink ('usuarios','nombre', 'Nombre','none')"></th>
						<th class="hideable-column">
							<th th:replace="fragments :: columnLink ('usuarios','apellidos', 'Apellidos','tag')"></th>
						</th>
						<th th:replace="fragments :: columnLink ('usuarios','activo', 'Activo','none')"></th>
						<th>Rol</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${listaUsuarios}">
						<td class="hideable-column">[[${usuario.idUsuario}]]</td>
						<td><i th:if="${usuario.fotos} == null" class="fa-solid fa-image-portrait fa-3x icon-silver"></i> <img th:if="${usuario.fotos} != null" th:src="@{${usuario.pathFotos}}" alt="" style="width: 100px;"></td>
						<td>[[${usuario.email}]]</td>
						<td>[[${usuario.nombre}]]</td>
						<td class="hideable-column">[[${usuario.apellidos}]]</td>
						<td><a th:if="${usuario.activo} == true" class="fa-solid fa-square-check fa-2x icon-green" style="text-decoration: none" th:href="@{'/usuarios/' + ${usuario.idUsuario} + '/activo/false'}" title="Desactiva usuario"></a>
							<a th:if="${usuario.activo} != true" class="fa-solid fa-square fa-2x icon-silver" style="text-decoration: none" th:href="@{'/usuarios/' + ${usuario.idUsuario} + '/activo/true'}" title="Activa usuario"></a>
						</td>
						<td>[[${usuario.rol.nombre}]]</td>
						<td><a class="fa-solid fa-edit fa-2x icon-green" style="text-decoration: none" th:href="@{'/usuarios/edit/'+${usuario.idUsuario}}" title="Editar usuario"></a> &nbsp;
							<a class="fa-solid fa-trash fa-2x icon-dark link-delete" style="text-decoration: none" th:href="@{'/usuarios/delete/'+${usuario.idUsuario}}" th:userId="${usuario.idUsuario}" title="Eliminar usuario"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="less-details">
			<div class="row m-1" th:each="usuario : ${listaUsuarios}">
				<div class="col-4">
					<i th:if="${usuario.fotos} == null" class="fa-solid fa-image-portrait fa-3x icon-silver"></i> <img th:if="${usuario.fotos} != null" th:src="@{${usuario.pathFotos}}"
						alt="" style="width: 100px;">
				</div>
				<div class="col-8">
					<div>[[${usuario.FullName}]]</div>
					<div><em>[[${usuario.rol.nombre}]]</em></div>
					<div class="mt-2">
						<a th:if="${usuario.activo} == true" class="fa-solid fa-square-check fa-2x icon-green" style="text-decoration: none" th:href="@{'/usuarios/' + ${usuario.idUsuario} + '/activo/false'}" title="Desactiva usuario"></a>
						<a th:if="${usuario.activo} != true" class="fa-solid fa-square fa-2x icon-silver" style="text-decoration: none" th:href="@{'/usuarios/' + ${usuario.idUsuario} + '/activo/true'}" title="Activa usuario"></a>
						&nbsp;&nbsp;
						<a class="fa-solid fa-edit fa-2x icon-green" style="text-decoration: none" th:href="@{'/usuarios/edit/'+${usuario.idUsuario}}" title="Editar usuario"></a> &nbsp;
						<a class="fa-solid fa-trash fa-2x icon-dark link-delete" style="text-decoration: none" th:href="@{'/usuarios/delete/'+${usuario.idUsuario}}" th:userId="${usuario.idUsuario}" title="Eliminar usuario"></a>
					</div>
				</div>
				<div>&nbsp;</div>
			</div>
		</div>

		<div class= "text-center m-1" th:if="${usuariosTotales > 0}">
			<span>Mostrando los usuarios del [[${startCount}]] al [[${endCount}]] de [[${usuariosTotales}]] </span>
		</div>
		<div class="text-center m-1" th:unless="${usuariosTotales > 0}">
			<span>No se encontraron usuarios </span>
		</div>

		<div th:if="${paginasTotales > 1}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li th:class="${paginaActual > 1 ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('usuarios', 1,'<<')"> </a></li>
					<li th:class="${paginaActual > 1 ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('usuarios', ${paginaActual -1},'<')"> </a></li>
					<li th:class="${paginaActual != i  ? 'page-item':'page-item active'}" th:each="i : ${#numbers.sequence(1,paginasTotales)}"><a th:replace="fragments :: pageLink('usuarios', ${i},${i})"> </a></li>
					<li th:class="${paginaActual < paginasTotales ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('usuarios', ${paginaActual +1},'>')"> </a></li>
					<li th:class="${paginaActual < paginasTotales ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('usuarios', ${paginasTotales},'>>')"> </a></li>
				</ul>
			</nav>
		</div>


		<div th:replace="modal_fragments :: modal_delete"></div>

	</div>

	<div th:replace="fragments :: footer"></div>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".link-delete").on("click",function(e) {
				e.preventDefault();
				userId = $(this).attr("userId");
				$("#btnSi").attr("href", $(this).attr("href"));
				$("#confirmText").text("¿Seguro que desea eliminar el usuario con id: "+ userId + " ?");
				$("#confirmDelete").modal();
			})
		});

		function limpiarFiltro(){
			window.location ="[[@{/usuarios}]]";
		}
	</script>
</body>

</html>