<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: pageHead('Carro Compra')"></head>
<body>
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>
	<div class="container">

		<div class="text-center border-bottom m-3">
			<h2>Finalizar compra</h2>
		</div>

		<div class="row m-1">
			<div class="col-sm-8">
				<div class="card">
					<div class="card-header"><h5>Datos de envío</h5></div>
					<div class="card-body">
						<p>
							<b>Enviar a:</b>&nbsp; [[${cliente.direccion}]], [[${cliente.ciudad}]], [[${cliente.comunidad}]],
							[[${cliente.codPostal}]], [[${cliente.pais.nombre}]]
						</p>
						<p>
							<b>Tiempo de entrega: </b>[[${checkoutInfo.diasEntrega}]] día(s)
						</p>
						<p>
							<b>Fecha esperada de entrega: </b>[[${#dates.format(checkoutInfo.fechaEntrega, 'E, dd MMM yyyy')}]]
						</p>
					</div>
				</div>

				<div class="card mt-3 mb-3">
					<div class="card-header"><h5>Método de pago</h5></div>
					<div class="card-body">

					</div>
					<div id="paypal-button-container"></div>
					<form th:action="@{/procesar_pedido_paypal}" method="post" id="paypalForm">
						<input type="hidden" name="orderId" id="orderId" />
						<input type="hidden" name="paymentMethod" value="PAYPAL" />
					</form>
				</div>
			</div>


			<div class="col-sm-4">
				<div class="card">
					<div class="card-header"><h5>Resumen del pedido</h5></div>
					<div class="card-body">
						<div>
							<table>
								<th:block th:each="item : ${itemsCarro}">
									<tr th:with="producto = ${item.producto}">
										<td>[[${item.cantidad}]] X &nbsp;&nbsp;</td>
										<td>
											<a th:href="@{'/productos/' + ${producto.idProducto}}" target="_blank">
												[[${producto.nombre}]]
											</a>
										</td>
										<td>
											<span>[[${item.subtotal}]] € &nbsp;&nbsp;</span>
										</td>
									</tr>
									<tr><td colspan="4"><hr/></tr>
								</th:block>
							</table>
						</div>

						<div class="row mt-2">
							<div class="col">Total productos: </div>
							<div class="col">[[${checkoutInfo.totalProducto}]] €</div>
						</div>

						<div class="row mt-2">
							<div class="col">Total envío: </div>
							<div class="col">[[${checkoutInfo.costeEnvio}]] €</div>
						</div>

						<div class="row mt-2">
							<div class="col">Total a pagar: </div>
							<div class="col"><b>[[${checkoutInfo.totalPago}]] €</b></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:replace="fragments :: modal_dialog"></div>
	<div th:replace="navigation :: footer_menu"></div>
	<div th:replace="fragments :: footer"></div>
	<script th:src="@{https://www.paypal.com/sdk/js(client-id=${paypalClientId},currency='EUR')}"></script>
	<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
	<script type="text/javascript">
		contextPath = "[[@{/}]]";
		var csrfHeaderName = "[[${_csrf.headerName}]]";
		var csrfValue = "[[${_csrf.token}]]";

		$(document).ready(function() {
			$("#radioCOD").on("click", function() {
				$("#buttonSubmit").removeClass("d-none");
			});
		});

		function validateOrder(orderId) {
			$("#orderId").val(orderId);
			$("#paypalForm").submit();
		}

		paypal.Buttons({
			enableStandardCardFields: true,
			createOrder: function(data, actions) {
				// setup a transaction
				return actions.order.create({

					intent: 'CAPTURE', // make payment immediately
					payer: {
						name: {
							given_name: "[[${cliente.nombre}]]",
							surname: "[[${cliente.apellidos}]]"
						},

						address: {
							address_line_1: "[[${cliente.direccion}]]",
							address_line_2: "",
							admin_area_1: "[[${cliente.comunidad}]]",
							admin_area_2: "[[${cliente.ciudad}]]",
							postal_code: "[[${cliente.codPostal}]]",
							country_code: "[[${cliente.pais.codigo}]]"
						},

						email_address: "[[${cliente.email}]]",

						phone: {
							phone_type: "MOBILE",
							phone_number: {
								national_number: "[[${cliente.numeroTelefono}]]"
							}
						}
					},

					purchase_units: [{
						amount: {
							value: "[[${checkoutInfo.paymentTotal4PayPal}]]",
							currency_code: "EUR"
						}
					}],

					application_context: {
						shipping_preference: "NO_SHIPPING"
					}
				});
			},

			onApprove: function(data, actions) {
				// buyer approved payment
				return actions.order.capture().then(function(details) {
					console.log(details);
					orderId = details.id;
					// alert("Transacción completada. ID de pedido: " + orderId + ". Total: " + totalAmount);
					validateOrder(orderId);
				});
			},

			onCancel: function(data) {
				// buyer cancelled payment
				showWarningModal('Pago cancelado por el comprador');
			},

			onError: function(err) {
				// error that prevents buyer from doing checkout
				showErrorModal("Hay un problema con la información de tu dirección, por lo que el pago no funcionará.");
			}
		}).render("#paypal-button-container");

	</script>
</body>
</html>