<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: pageHead('Shopccer')"></head>
<body>
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>
	<div class="container">

		<div class="text-center border border-secondary rounded m-3 p-3">
			<h2>¡Tu pedido ha sido completado! </h2>
			<h4>Se ha enviado un correo de confirmación a tu dirección de correo electrónico.</h4>
			<h4>Por favor, revisa tu correo electrónico para obtener los detalles.</h4>
		</div>



	</div>
	<div th:replace="navigation :: footer_menu"></div>
	<div th:replace="fragments :: footer"></div>
</body>
</html>