<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: pageHead(${tituloPagina})"></head>
<body>
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="breadcrumb :: content"></div>
	<div th:replace="navigation :: search_nav"></div>
	<div class="container">

		<div class="text-center border-bottom m-3">
			<h2>Botas de fútbol para <span class="">[[${tituloPagina}]]</span></h2>
		</div>
		
		<div class="row text-center">
			<th:block th:each="producto : ${listaProductos}">
				<div class="col">
					<div>
						<a class="hover-producto" th:href="@{'/productos/' + ${producto.idProducto}}" style="text-decoration: none">
							<div style="position: relative; display: inline-block;">
								<img th:src="@{${producto.pathFotoPrincipal}}"  height="200"  style="display: block;"/>
								<div th:if = "${producto.porcentajeDescuento > 0}" class="p-1" style="position: absolute; bottom: 0; left: 0; background-color: darkred; border: 2px solid darkred;">
									<span style="font-size: small; color: white">- [[${producto.porcentajeDescuento}]] %</span>
								</div>
							</div>
							<br><br>
							<b style="color: black">[[${producto.nombre}]]</b>
						</a>
					</div>
					<div th:if = "${producto.porcentajeDescuento <= 0}">
						<span>[[${producto.precio}]] €</span>
					</div>
					<div th:if = "${producto.porcentajeDescuento > 0}">
						<!--<span class="p-1" style="color: darkred; border: solid thin darkred">-[[${producto.porcentajeDescuento}]] %</span>-->
						<span style="font-size: larger; color: darkred">[[${producto.precioConDescuento}]] €</span>
						<del><span>[[${producto.precio}]] €</span></del>
					</div>
					<div>
						<span class="text-muted">[[${producto.marca.nombre}]]</span>
					</div>
				</div>

			</th:block>
		</div>



		<div class= "text-center m-1" th:if="${productosTotales > 0}">
			<span>Mostrando los productos del [[${startCount}]] al [[${endCount}]] de [[${productosTotales}]] </span>
		</div>
		<div class="text-center m-1" th:unless="${productosTotales > 0}">
			<span>No se encontraron productos </span>
		</div>

		<div th:if="${paginasTotales > 1}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li th:class="${paginaActual > 1 ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('productos/superficies/' + ${idSuperficie}, 1,'<<')"> </a></li>
					<li th:class="${paginaActual > 1 ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('productos/superficies/' + ${idSuperficie}, ${paginaActual -1},'<')"> </a></li>
					<li th:class="${paginaActual != i  ? 'page-item':'page-item active'}" th:each="i : ${#numbers.sequence(1,paginasTotales)}"><a th:replace="fragments :: pageLink('productos/superficies/' + ${idSuperficie}, ${i},${i})"> </a></li>
					<li th:class="${paginaActual < paginasTotales ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('productos/superficies/' + ${idSuperficie}, ${paginaActual +1},'>')"> </a></li>
					<li th:class="${paginaActual < paginasTotales ? 'page-item':'page-item disabled'}"><a th:replace="fragments :: pageLink('productos/superficies/' + ${idSuperficie}, ${paginasTotales},'>>')"> </a></li>
				</ul>
			</nav>
		</div>



	</div>
	<div th:replace="navigation :: footer_menu"></div>
	<div th:replace="fragments :: footer"></div>
</body>
</html>