<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: pageHead(${tituloPagina})"></head>
<body>
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<div>
						<img id="fotoPrincipal" th:src="@{${producto.pathFotoPrincipal}}" class="img-fluid" index="0" alt="">
					</div>
					<div class="row justify-content-center">
						<div class="m-2 border p-1">
							<img class="image-thumbnail" th:src="@{${producto.pathFotoPrincipal}}" height="100px" index="0">
						</div>
						<th:block th:each="detalle, status : ${producto.fotosDetalles}">
							<div class="m-2 border p-1">
								<img class="image-thumbnail" th:src="@{${producto.getPathFotosDetalle(detalle)}}" height="100px" th:index="${status.count}">
							</div>
						</th:block>

					</div>
				</div>
				<div class="col-sm">
					<div>
						<h2>[[${producto.nombre}]]</h2>
					</div>
					<div>
						<span><b>Marca: </b>[[${producto.marca.nombre}]]</span>
					</div>
					<div>
						<span><b>Superficie: </b> [[${producto.superficie.nombre}]]</span>
					</div>
					<div class="mt-2 mb-1">
						<span th:if = "${producto.porcentajeDescuento <= 0}" style="font-size: larger">[[${producto.precio}]] €</span>
						<del><span th:if = "${producto.porcentajeDescuento > 0}">[[${producto.precio}]] €</span></del>
						<span th:if = "${producto.porcentajeDescuento > 0}" class="p-1" style="color:white; font-size: smaller; background-color: darkred; border: 2px solid darkred;">
							- [[${producto.porcentajeDescuento}]] %</span>
					</div>
					<div th:if = "${producto.porcentajeDescuento > 0}">
						<span style="font-size: larger;color: darkred; font-weight: bolder">[[${producto.precioConDescuento}]] €</span>
					</div>
					<div>&nbsp;</div>
					<div>
						<span th:if="${producto.inStock}" class="text-success"><b>DISPONIBLE</b></span>
						<span th:if="${!producto.inStock}" class="text-danger"><b>SIN STOCK</b></span>
					</div>
					<div>Seleccione una talla: <br>
					<select th:field="*{producto.tallaStock}">
						<option th:each="entry : ${producto.tallaStock.entrySet()}"
								th:value="${entry.key}"
								th:text="'Nº: '+${entry.key} + ' (Stock: ' + ${entry.value} + ')'"></option>
					</select>
					</div>
					<br>
					<div th:replace="carro/control_cantidad :: control_cantidad(1, ${producto.idProducto})"></div>
					<div class="mt-3">
						<input type="button" value="Añadir al carrito" class="btn btn-primary">
					</div>
					<div>&nbsp;</div>
					<div th:utext="${producto.descripcion}">
					</div>
				</div>
			</div>



		</div>
	<div th:replace="producto/images_carousel :: content"></div>
	<div th:replace="navigation :: footer_menu"></div>
	<div th:replace="fragments :: footer"></div>
	<div th:replace="fragments :: modal_dialog"></div>

	<script type="text/javascript">
		$(document).ready(function(){
			fotoPrincipal = $("#fotoPrincipal");

			$(".image-thumbnail").mouseover(function(){
				currentImgSource = $(this).attr("src");
				currentImgIndex = $(this).attr("index");
				fotoPrincipal.attr("src",currentImgSource);
				fotoPrincipal.attr("index",currentImgIndex);
			});

			fotoPrincipal.on("click", function(){
				$("#carouselModal").modal("show");
				imageIndex = parseInt(fotoPrincipal.attr("index"));
				$("#carouselExampleIndicators").carousel(imageIndex);
			});
		});
	</script>
	<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
	<script type="text/javascript" th:src="@{/js/control_cantidad.js}"></script>
</body>
</html>