<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: pageHead(${tituloPagina})"></head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Gestión de pedidos | [[${tituloPagina}]]</h2>
		</div>
		<form th:action="@{/pedidos/save}" th:object="${pedido}" method="post">
			<input id="idpedido" type="hidden" name="idPedido" th:field="*{idPedido}" th:value="${idPedido}" />
			<div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="seguimiento-tab" data-toggle="tab" href="#seguimiento" role="tab">Seguimiento</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active p-3" id="seguimiento" role="tabpanel">
						<div th:replace="pedidos/pedido_form_seguimiento :: content"></div>
					</div>
				</div>
			</div>
			<div>
				<p class="text-center">
					<input type="submit" value="Guardar" class="btn btn-primary m-3" />
					<input type="button" value="Cancelar" class="btn btn-secondary" id="buttonCancel" />
				</p>
			</div>
		</form>

		<div th:replace="modal_fragments :: modal_dialog"></div>

	</div>
	<div th:replace="fragments :: footer"></div>
	<script th:src="@{/js/common_form.js}"></script>
	<script th:src="@{/js/pedido_form_seguimiento.js}"></script>
	<script type="text/javascript">
		contextPath = "[[@{/}]]";

		$(document).ready(function() {
			$('#buttonCancel').click(function() {
				window.location = "[[@{/pedidos}]]";
			});

			console.log($("#idpedido").val());

		});



	</script>
</body>

</html>