<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
  <div>
    <div class="row">
      <div class="col">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a th:href="@{/}">Home</a>
            </li>
            <th:block th:if="${listaProductos != null}">
              <li class="breadcrumb-item">
                <span th:if="${idMarca} !=null">Botas [[${tituloPagina}]]</span>
                <span th:if="${idSuperficie} !=null" >Botas para [[${tituloPagina}]]</span>
              </li>
            </th:block>
            <li class="breadcrumb-item" th:if="${producto != null}">
              <a th:href="@{'/productos/marcas/' + ${producto.marca.idMarca}}">Botas [[${producto.marca.nombre}]]</a>
            </li>
            <li class="breadcrumb-item" th:if="${producto != null}">
              <a th:href="@{'/productos/superficies/' + ${producto.superficie.idSuperficie}}">Botas para [[${producto.superficie.nombre}]]</a>
            </li>
            <li class="breadcrumb-item" th:if="${producto != null}">
              <span>[[${producto.nombre}]]</span>
            </li>

          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
</body>
</html>