<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: pageHead(${tituloPagina})"></head>
<body>
<div class="sticky-top">
	<div th:replace="navigation :: header_menu"></div>
</div>
	<div class="container">

		<div class="text-center border-bottom m-3" th:if="${titulo != null}">
			<h2>[[${titulo}]]</h2>
		</div>
		<div class="text-center m-3" th:if="${message != null}">
			<h3>[[${message}]]</h3>
		</div>

	</div>
	<div th:replace="navigation :: footer_menu"></div>
	<div th:replace="fragments :: footer"></div>
</body>
</html>